*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica', sans-serif;
	background-color: #141518; /* if particles fail */
	overflow-y: hidden;
}


.container {
	padding: 0;
	width: fit-content;
}
#clock{
	text-align: center;
	color: #fff;
	background-color: #11142488;
	padding: 1rem;
	border-radius: 1rem;
	font-weight: 800;
}
#content {
	padding: 4rem;
	background: rgba(42, 39, 39, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.vcenter {
	position: relative;
	margin-top: 20%;

}
#inputs {
	display: table;
}
.btn{
	background-color: #000;
	border: none;
	color: #fff;
}

#queryInput
{
	background-color: #00000080;
	color: #fff;
}

#querySubmit
{
	border: 0.1rem solid #fff;
}

#motivationDiv{
	color: #fff;
	margin-top: 2rem;
	margin-bottom: 1rem;
	text-align: center;
	font-weight: 700;
}
h1 {
	font-size: 5em;
	margin-bottom: 0;
}
h2 {
	font-size: 3em;
	margin-top: 5px;
}
h3 {
	font-size: 2em;
	margin-top: 10px;
}
footer{	
	text-align: center;
	margin-top: 3em;
	color: #fff;
	position: relative;
	z-index: 100;
	font-size: 1rem;
}
footer a{
	color: #fff;
}
footer a:hover{
	color: #fff;
}
